/* Global Style */

// Variable
$light-green: rgb(182, 244, 150);
$dark-green: rgb(51, 139, 147);
$dark-slate: hsl(222, 47.4%, 11.2%);
$trans-black-20: #00000020; 
$trans-black-90: #00000090; 
$trans-white-20: #FFFFFF20;
$trans-white-90: #FFFFFF90;
$gradient-bg: linear-gradient(to right, $dark-green, $light-green);


// Mixins 
@mixin editableText() {
  caret-color: $light-green;
  min-width: 50vw;
  text-justify:newspaper;
  word-break: break-all;

  &:focus {
    border-radius: .2rem;
    border: 1px solid lightgray;
    outline: none;
    display: block;
  }
}

@mixin item($bg) {
  background: $bg;
  color: white;
  justify-content: space-between;
  padding-inline: 1rem;
}

@mixin overlay(
  $direction, 
  $first-clr: $dark-slate, 
  $second-clr: transparent) {
  &::before {
    $bg: linear-gradient(to #{$direction}, #{$first-clr}, #{$second-clr});
    content: "";
    background: $bg;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: -10;
  }
}

%floating-btn {
  background: $dark-green;
  border: none;
  border-radius: 1rem;
  bottom: 40px;
  box-shadow: 5px 8px 10px #00000030;
  color: white;
  display: grid;
  padding: 1rem;
  place-content: center;
  position: fixed;
  right: 40px;
  z-index: 20;


  &:is(:hover, :focus) {
    $bg: darken($dark-green, 10);
    background: $bg;
    box-shadow: 0px 0px;
    outline: none;
  }
}


:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::selection {
  background: $dark-green;
  color: white;
}

body {
  background: $gradient-bg;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0px;

  @include overlay(bottom)

}

main {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Inter';
  font-weight: 500;
}


/* Typography */ 
@font-face {
  font-family: 'LexendDeca';
  display: swap;
  src: url('./assets/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  display: swap;
  src: url('./assets/Inter-VariableFont.ttf');
}

.nav__title {
  font-family: 'LexendDeca';
  font-size: 1.5rem;
  color: #FFFFFF90
}









/*  Components */

.add-todo,
.add-goal {
  @extend %floating-btn; 
}



// goal 
.goal__container {
  position: relative;
  //margin-bottom: 10px;

  & .goal__item {
    //$goal-bg: linear-gradient(to right, $dark-green, darken($dark-green, 12)); 
    $goal-bg: transparentize($dark-slate, .5);
    @include item($goal-bg);
    border-bottom: 2px solid $light-green;//darken($dark-green, 18);
    box-shadow: 0px 5px 10px #00000020;
    font-family: 'LexendDeca';
    padding-block: 1rem;
    padding-left: 28px;
    z-index: 2;
    
    &.complete {
      & .goal__item__icon {
        color: white; 
      }
    }
    
    &.open + .goal__todos  {
      max-height: 350px;
    }

    &::before {
      background: transparent;
      content: "";
      position: absolute;
      inset: 0;
    }

    & .goal__item__icon {
      color: lightgray;//$light-green;//darken($dark-green, 18); 
    }
  }

  & .goal__option__btn {
    position: relative;
    z-index: 3;

    &:is(:hover, :focus) {
      color: $light-green;
    }
  }

  .goal__save {
    display: none;
    border: 1px solid $light-green;//transparent;
    border-radius: .4rem;
    background: transparent;
    color: $light-green;
    font-size: 1rem;
    padding: .3rem;
    
    &:is(:focus, :hover) {
      color: $dark-slate;
      background: $light-green;
    }
  }

  & .goal__text {
    @include editableText();
    margin: 0;
    width: 100%;
  }

  & .goal__todos {
    max-height: 0px;
    overflow-y: scroll;
    position: relative;
    transition: max-height ease 500ms;
    z-index: 1;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .goal__add__todo {
      background: $trans-black-20;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    & button {
      background: transparent;
      border: 0px;
      color: white;
      font-size: 1rem;
      padding-block: 1rem;
      margin-left: 1.5rem;
      justify-content: center;
      
      &:is(:hover, :focus) {
        color: $light-green;
        outline: none;
      }
    }
  }

  & .goal__option__container {
    position: relative;

    & .goal__option {
      bottom: -49px;
      display: none;
      position: absolute;
      right: 38px;
      z-index: 5;
      
      & .options {
        display: flex;
        flex-direction: column;
        
        & .option {
          background: white;
          font-size: .9rem;
          border: 0;
          border-bottom: 1px solid lightgray;
          padding: .8rem;
          padding-inline: 1rem;
          position: relative;
          z-index: 2;
          
          &.delete {
            color: red;
          }

          &:is(:hover, :focus) {
            background: #f2f2f2;
            outline: none;
          }
          
          &:first-of-type {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }

          &:last-of-type {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom: 0px;
          }
        } 
      }

    }

    
    & .tooltip {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 6px solid white;
      border-right: 10px solid transparent;
      position: absolute;
      top: 13px;
      right: -15px;
    }
  }
}



.modal__container {
  background: #00000080;
  backdrop-filter: blur(2px);
  display: none;//grid;
  place-content: center;
  position: absolute;
  inset: 0;
  z-index: 50;

  //:has(&) {
    //overflow: hidden;
  //}

  .modal {
    background: white;
    background: $dark-slate;
    border-radius: 1rem;
    max-width: 80vw;
    overflow: hidden;

    &__title {
      font-family: 'LexendDeca';
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      padding-inline: 1.5rem;
    }

    &__text {
      color: lightgray; 
      margin-top: 0px;
      margin-bottom: 2rem;
      padding-inline: 1.5rem;
    }

    &__btns {
      display: flex;

      .modal__btn {
        color: white;
        background: transparent;
        border: 0px;
        border-top: 1px solid gray;
        font-family: 'Inter';
        font-size: 1rem;
        padding: 1rem;
        width: 100%;

        &:first-of-type {
          color: lightgray;

          &:hover {
            color: white;
          }
        }

        &:last-of-type {
          border-left: 1px solid gray; 
          
          &:hover {
            color: $light-green;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .modal {
    max-width: 320px !important;
  }
}



// tab
nav {
  backdrop-filter: blur(12px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0px;
  position: relative;
  padding-left: 0px;

  &::before {
    content: "";
    background: $light-green;
    border-radius: 2rem;
    bottom: -16.5px;
    height: 5px;
    position: absolute;
    right: 50%; 
    left: 0;
    transition: all ease-out 350ms;
    z-index: 5;
  }

  &.switch-to-goal::before {
    right: 50%; 
    left: 0;
    right: 0; 
    left: 50%;
  }

  & li {
    display: grid;
    place-content: center;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  

  & a {
    align-items: center;
    color: #FFFFFF10;
    border-bottom: 4px solid transparent; 
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    transition: color ease-in 300ms;
  
    // Link hover style
    &:is(:hover, :focus) {
      color: #fff;
    }

    &.active .nav__icon {
      color: $light-green;
    }

    &:active {
      outline: none;
    }
    
    &:focus {
      outline: none;
    } 

    & .nav__text {
      transition: width ease 300ms;
      width: 100%;
      
      & span {
        padding-left: .5rem;
        transition: transform ease 300ms;
      }
    }
    
    &.active .nav__text {
      display: block;
      overflow: hidden;
      width: 0%;
      
      & span {
        display: block;
        transform: translateX(-60px);
      }
    }

    & .nav__text span {
      transform: translateX(0px);
    }
  }
}


.todo__item {
  @include item($trans-black-20);
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  overflow: hidden;

  &:is(:hover, :focus) {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    outline: none;

    & .todo__close {
      display: block;
    }
  }

  &.completed-todo {
    &:hover {
      border-bottom: 1px solid $trans-white-90 !important;
      border-top: 1px solid $trans-white-90 !important;

      & .todo__checkbox__container button {
        opacity: 1; 
      }
    }
  }
}

.todo__list,
.goal__todos {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;

  & li:first-of-type .todo__item {
    border-top: 1px solid transparent;
  }
}

.todo__page,
.goal__page {
  margin-top: 88.5px;
}


.todo__close {
  display: none;

  &:hover {
    color: red;
  }
}

.todo__close__container {
  padding-right: 2rem;
  width: 1rem;

  & button:focus {
    color: red;
    display: block;
  }
}

.todo__checkbox__container {
  display: grid;
  padding-left: .5rem;

  & button {
    &:focus {
      color: $light-green;
      opacity: 1;
    }
  }
}


.todo__text {
  @include editableText();
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}





/* Utilities */ 

.fade-out {
  opacity: .5;
}

.flex-flow-0 {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.flex-flow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.flex-start {
  align-items: start;
  display: flex;
  gap: 1.5rem;
}

.no-btn {
  border: 0px;
  background: transparent;
  color: white;

  &:focus {
    outline: none;
  }
}

.space-1rem {
  height: 1rem;
}

.show-hidden-text {
  display: block;
}

.slide-out {
  opacity: 0;
  transform: translateX(-100vw);
  transition: 
    opacity ease-in 500ms,
    transform ease-in 500ms;
}

.strike {
  text-decoration: line-through;
}

.w-90 {
  width: 90%;
}



/* Media Queries */ 
@media screen and (min-width: 600px){
  
}

