/* Global Style */
$light-green: rgb(182, 244, 150);
$dark-green: rgb(51, 139, 147);
$dark-slate: hsl(222, 47.4%, 11.2%);
$trans-black-20: #00000020; 
// $trans-black-50: #00000050; 
$trans-black-90: #00000090; 
$trans-white-20: #FFFFFF20;
// $trans-white-50: #FFFFFF50;
$trans-white-90: #FFFFFF90;
$gradient-bg: linear-gradient(to right, $dark-green, $light-green);
$bg-overlay: linear-gradient(to bottom, $dark-slate, transparent);


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: $gradient-bg;
  color: white;

  &::before{
    content: "";
    background: $bg-overlay;
    position: absolute;
    inset: 0;
  }
}

main {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}


/* Typography */ 
.nav__title {
  font-size: 1.5rem;
  color: #FFFFFF90
}


/*  Components */
.add-todo {
  background: $dark-green;
  border: none;
  border-radius: 1rem;
  bottom: 40px;
  color: white;
  display: grid;
  place-content: center;
  padding: 1rem;
  position: fixed;
  right: 40px;
  
  &:is(:hover, :focus) {
    background: darken($color: $dark-green, $amount: 5);
    outline: none;
  }
}

.completed-todo {
  &:hover {
    border-bottom: 1px solid $trans-white-90 !important;
    border-top: 1px solid $trans-white-90 !important;
  }
}



// tab
nav {
  backdrop-filter: blur(12px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: relative;
  padding-left: 0px;

  &::before {
    content: "";
    background: $light-green;
    border-radius: 2rem;
    bottom: -16.1px;
    height: 5px;
    position: absolute;
    right: 50%; 
    left: 0;
    transition: all ease-out 350ms;

  }

  &.switch-to-goal::before {
    right: 50%; 
    left: 0;
    right: 0; 
    left: 50%;
  }

  & li {
    display: grid;
    place-content: center;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  

  & a {
    align-items: center;
    color: #FFFFFF10;
    border-bottom: 4px solid transparent; 
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    transition: color ease-in 300ms;
  
    // Link hover style
    &:is(:hover, :focus) {
      color: #fff;
    }

    &.active .nav__icon {
      color: $light-green;
    }

    &:active {
      outline: none;
    }
    
    &:focus {
      outline: none;
    } 

    & .nav__text {
      //margin-left: 8px;
      transition: width ease 300ms;
      width: 100%;
      
      & span {
        padding-left: .5rem;
        transition: transform ease 300ms;
      }
    }
    
    &.active .nav__text {
      display: block;
      overflow: hidden;
      width: 0%;
      
      & span {
        display: block;
        transform: translateX(-60px);
      }
    }

    & .nav__text span {
      transform: translateX(0px);
    }

  }
}

.todo__item {
  align-items: center;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-inline: 1rem;


  &:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }
}

.todo__sub__item {
  background: hsla(222, 47.4%, 11.2%, .5);
}

.todo__list {
  & .todo__item:first-of-type {
    border-top: 2px solid transparent;
  }
}

.todo__page,
.goal__page {
  background: $trans-black-20;
  margin-top: 88px;
}








/* Utilities */ 
.fade-out {
  opacity: .5;
}

.flex-flow-1rem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.strike {
  text-decoration: line-through;
}

.w-90 {
  width: 90%;
}



/* Media Queries */ 
@media screen and (min-width: 600px){
  
}

