#root {
  margin: 0;
}

header {
  border: 1px solid transparent;
  background: green;
}

.header {
  color: white;
}

.header,
.footer {
  text-align: center;
}

.sub-header {
  color: green;
}

.w-90 {
 width: 90%;
}

.mx-auto {
  margin: auto;
}
