@charset "utf-8";

#root {
  margin: 0;
  --clr-green: #114847;
  --clr-gray: gray;
  --clr-accent: #900c0f;
  --clr-accent-lte: #d39389;
}

#root * {
 box-sizing: border-box;
}

.add-book{
  background: var(--clr-accent);
  border: 0px;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px #00000050;
  color: white;
  font-size: 2.5rem;
  padding: .4em;
  padding-block: .2em;
  position: fixed;
  bottom: 35px;
  right: 35px;
  text-decoration: none;
  z-index: 100;
}

.author {
  border: 1px solid transparent;
  padding: .3rem;
  margin: 0px !important;
}

.author:hover, 
.author:focus {
  border: 1px solid var(--clr-accent);
}

.author-list { 
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  transform: translateX(-.3rem);
}

.book {
  border-left: 1px solid lightgray;
  margin-block: .5rem;
  padding-left: 1rem;
  position: relative;
  width: fit-content;
}

.book .author {
  color: var(--clr-gray);
  font-size: .9rem;
  margin-block: .5rem;
}


.book .author:hover {
  color: var(--clr-accent);
}

.book .title {
  color: var(--clr-green);
  font-size: 1.0rem;
  font-weight: bold;
  margin-block: .5rem;
  margin-bottom: 0px;
  white-space: wrap;
  word-break: break-word;
}

.book img {
  width: 100%;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 1rem;
}


.edit-container { 
  align-items: center;
  display: none;
  inset: 0;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.edit {
  color: white;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

header {
  border: 1px solid transparent;
  background: var(--clr-green);
  padding-block: 1rem;
}

main .header {
  color: white;
}

main .header a {
  color: white;
  text-decoration: none;
}


main .header,
.sub-header {
  font-family: 'Playfair Display', serif;
  letter-spacing: .05rem;
}


.image-container { 
  position: relative;
}

.image-container:hover .edit-container {
  display: flex;
}
.image-container img {
 width: 100%;
}

.image-container:before {
  content: "";
  background: linear-gradient(black, transparent);
  display: none;
  position: absolute;
  inset: 0;
}


.image-container:hover:before {
  display: block;
}

.missing-image {
  align-items: center;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.moveto-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.move-to {
  background: white;
  border-radius: .5rem;
  color: gray;
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  width: 90%
}

.move-to .option {
  border-bottom: 1px solid lightgray;
  padding-block: .5rem;
  padding-inline: .4rem;
}

.move-to .option:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.move-to .option:last-of-type {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom: 0px;
}

.move-to .option.active {
  background: var(--clr-green);
  color: white;
}

.move-to .option.active:hover {
    background: var(--clr-green);
}

.move-to .option:hover {
  background: #00000010;
}

.search .icon {
  background: var(--clr-green);
  border: 1px solid transparent;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  color: white;
  font-size: 1.3rem;
  padding: .5em;
}

.search .icon:hover {
  background: white;
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
}

.search .outer-container {
  padding-block: .5rem;
  padding-inline: 0rem;
}

.search .inner-container {
  align-items: center;
  background: white;
  border-radius: .5rem;
  display: flex;
  margin-block: .5rem; 
  width: 60%;
}

.search {
  background: lightgray;

}

.search input {
 border: 0px;
 font-size: 1.2rem;
 line-height: 1.5rem;
 margin-inline: .2rem;
 width: 100%;
}


.search input:focus {
  outline: 0px;
}

section:hover .sub-header h2 {
  background: var(--clr-green);
  color: white;
}

.sub-header {
  border-bottom: 2px solid var(--clr-green);
  margin-block: 2rem;
  margin-top: 5rem;
}

.sub-header h2 {
  border: 2px solid var(--clr-green);
  border-bottom: 0px;
  border-top-right-radius: 1rem;
  border-top-left-radius:  1rem;
  margin: 0;
  padding: .8rem;
  width: fit-content;
}

.no-list-style {
  padding-left: 0px;
  list-style-type: none;
}

.footer {
  text-align: center;
}

.sub-header {
  color: var(--clr-green);
}


.hide {
 display: none;
}

.w-90 {
 width: 90%;
}

.mx-auto {
  margin: auto;
}
