@charset "utf-8";

#root {
  margin: 0;
  --clr-green: #114847;
  --clr-gray: gray;
  --clr-accent: #900c0f;
  --clr-accent-lte: #d39389;
}

.author {
  border: 1px solid transparent;
  padding: .3rem;
  margin: 0px !important;
}

.author:hover, 
.author:focus {
  border: 1px solid var(--clr-accent);
}

.author-list { 
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  transform: translateX(-.3rem);
}

.book {
  border-left: 1px solid lightgray;
  margin-block: .5rem;
  padding-left: 1rem;
  position: relative;
  width: fit-content;
}

.book .author {
  color: var(--clr-gray);
  font-size: .9rem;
  margin-block: .5rem;
}

.book .title {
  color: var(--clr-green);
  font-size: 1.4rem;
  font-weight: bold;
  margin-block: .5rem;
  margin-bottom: 0px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 1.5rem;
}

header {
  border: 1px solid transparent;
  background: var(--clr-green);
  padding-block: 1rem;
}

.header {
  color: white;
}

.header,
.sub-header {
  font-family: 'Playfair Display', serif;
  letter-spacing: .05rem;
}

.hide {
  display: none;
}

section:hover .sub-header h2 {
  background: var(--clr-green);
  color: white;
}

.sub-header {
  border-bottom: 2px solid var(--clr-green);
  margin-block: 2rem;
  margin-top: 5rem;
}

.sub-header h2 {
  border: 2px solid var(--clr-green);
  border-bottom: 0px;
  border-top-right-radius: 1rem;
  border-top-left-radius:  1rem;
  margin: 0;
  padding: .8rem;
  width: fit-content;
}

.no-list-style {
  padding-left: 0px;
  list-style-type: none;
}

.footer {
  text-align: center;
}

.sub-header {
  color: var(--clr-green);
}

.w-90 {
 width: 90%;
}

.mx-auto {
  margin: auto;
}
